{% extends 'base.html'%}
{%block title%}about{%endblock title%}
{% block body%}
<style>
    img {
      float: right;
      border: 1px dotted black;
      margin: 0px 0px 15px 20px;
    }
    </style>
<div class="container my-4">
 <img src="https://cdn.pixabay.com/photo/2017/04/10/19/46/ice-2219574_640.jpg" width="280" height="180">
<div class="container">
<h1>About Us</h1>
<p> <strong>MADHUR ICE CREAM </strong>CARRIES OVER 56 GOURMET ICE CREAMS
    WE SPECIALIZE IN CASSTA, KULFI, EGGLESS ICE CREAM CAKES, AND
    NO SUGAR ADDED ICE CREAMS</p>
    <p>The origins of ice cream, sorbet and other chilled dairy treats are difficult to pin down—but span back to antiquity.
         According to popular legend, ice cream was invented by the ancient Chinese,
         brought to Italy by Marco Polo, to France by Catherine de Medici, and thence to America by Thomas Jefferson.17 Apr 2023</p>
    <div class="container my-3 2px">
        <img src="https://cdn.pixabay.com/photo/2018/08/16/22/59/ice-cream-3611698_1280.jpg"></div>
</div>
{% endblock body%}

       